/* ======= Contact Page ======= */
.contact-form .required {
  color: $red-dark;
  display: inline-block;
  font-weight: normal;
  padding-left: 2px;
}

.map {
  height: 300px;
}

.map,
.map *,
.map *:before,
.map *:after {
  box-sizing: content-box;
}
