/* ======= Courses Page ======= */
.courses-wrapper .tab-content {
  font-size: 12px;
}

.courses-wrapper .tab-content .item {
  margin-top: 15px;
}

.courses-wrapper .tab-content img {
  margin-bottom: 10px;
}

.courses-wrapper .course-finder {
  margin-bottom: 30px;
}

.courses-wrapper .course-finder .keywords input {
  width: 260px;
}

.courses-wrapper .course-list-header {
  font-size: 13px;
  margin-bottom: 15px;
}

.courses-wrapper .course-list-header .summary {
  padding-top: 10px;
}

.courses-wrapper .course-list-header .control-label {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 2;
  margin-right: 10px;
}

.courses-wrapper .course-list-header .sort {
  padding-top: 5px;
}

.courses-wrapper .course-list-header .sort-options {
  font-size: 12px;
  height: 25px;
  width: auto;
}

.courses-wrapper .course-item {
  font-size: 12px;
}

.courses-wrapper .course-item .col-meta {
  color: $gray;
}
