/* ======= Events Page ======= */
.events-wrapper .events-item .date-label {
  background: $gray-lightest;
}

.events-wrapper .events-item .details .time {
  margin-right: 10px;
}

.events-wrapper .events-item .details .fa {
  margin-right: 5px;
}
