/* ======= Footer ======= */
.footer {
  background: $gray-darker2; //#444;
  color: $white;
}

.footer p {
  color: $gray-lightest;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  list-style: none;
}

.footer h3 {
  margin-bottom: 20px;
  margin-top: 0;
}

.footer .footer-content {
  font-size: 12px;
  min-height: 100px;
  padding: 30px 0;
}

.footer .footer-content .footer-col .footer-col-inner {
  padding: 0 15px;
}

.footer li {
  border-right: 1px solid $gray-darkest;
}

.footer li,
.footer small {
  display: inline-block;
  float: left;
  font-size: 11px;
  line-height: 3;
  padding: 0 1em;

  &:last-child {
    border: 0;
  }
}

.footer a {
  color: $gray-lighter;

  &:hover {
    color: $orange-light;
  }
}

.footer .footer-content .footer-col .fa {
  color: $gray-lighter;
  display: inline-block;
  margin-right: 10px;
}

.footer .footer-content .footer-col .fa.fa-phone {
  font-size: 16px;
}

.footer .footer-content .footer-col li {
  font-size: 12px;
  margin-bottom: 10px;
}

.footer .footer-content .footer-col a {
  color: $gray-lightest;
}

.footer .footer-content .footer-col a:hover {
  color: $blue-light;
}

.footer .footer-content .adr {
  margin-bottom: 30px;
}

.footer .footer-content .adr .fa {
  font-size: 16px;
  margin-top: 2px;
}

.footer .footer-content .subscribe-form {
  padding: 0;
}

.footer .footer-content .subscribe-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.footer .footer-content .subscribe-form .form-control {
  background: $gray-lightest;
  border: 0;
  transition: all 0.4s ease-in-out;
  width: 320px;
}

.footer .footer-content .subscribe-form .form-control:focus {
  background: $white;
}

.footer .bottom-bar {
  background: $black;
  padding: 5px 0;
}

.footer .bottom-bar .copyright {
  color: $gray-lighter;
  font-size: 11px;
  line-height: 3;
  text-align: right;
}

.footer .bottom-bar .social {
  margin: 0;
}

.footer .bottom-bar .social li {
  float: right;
  font-size: 18px;
  line-height: 2;
  margin-left: 10px;
  text-align: center;
}

.footer .bottom-bar .social li a {
  color: $princeton-orange;
  padding: 0 5px;
}

.footer .bottom-bar .social li a:hover {
  color: $blue-dark;
}

/* Sticky Footer */
html,
body {
  height: 100%;
}

body {
  font-size: 13px;
}

.wrapper {
  margin-bottom: -46px;
  min-height: 100%;

  /* equal to footer height */
}

.wrapper:after {
  content: "";
  display: block;
  height: 46px;

  /* must be the same height as footer */
}

.footer {
  height: 46px;

  /* must be the same height as footer */
}
